@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  /* background-color: #000; */
  width: 100%;
}

#__next {
	display: flex;
	flex-direction: column;
  overflow: clip;
	min-height: 100vh;
}

#__next > main {
	flex-grow: 1;
}